@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-flex{
  text-align: center;
  flex-direction: row;
  font-size: xx-large;
  color: red;
}

#home{
  text-align: center;
}
#heading{
  text-align: center;
  color: aqua;
  font-size: xx-large;
}
body{
  background-color: aqua;
}

#w{
  text-align: center;
}
#title{
  text-align: center;
  color: tomato;
  font-size: xx-large;
}